<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Store</title>
  <!-- Link to external CSS file -->
  <link rel="stylesheet" href="/style.css">
</head>
<body>

    <%- include('nav.ejs') %>


    <div class="container">
        <h1>Genre List</h1>
        <form action="/genre/addGenre" method="POST" enctype="multipart/form-data" class="product-form-2">
            <input type="text" name="categories" placeholder="Title" class="product-input">
           
            <input type="file" name="image" accept="image/*" class="product-input">
            <button type="submit" class="button">Add product</button>
          </form>
        <ul class="product-list">
          <% genres.forEach(genre => { %>
            <li class="product-item">
              <div class="product-details">
                <% if (genre.image) { %>
                    <img src="/<%= genre.image %>" alt="Image du genre" class="product-image">
                <% } %>
                <div class="product-info">
                  <h3 class="product-title"><%= genre.categories %></h3>
                </div>
              </div>
                <div> 
          <form id="genreForm" action="/genre/updateGenre/<%= genre._id %>" method="POST" class="product-form">
            <input type="text" name="categories" value="<%= genre.categories %>" placeholder="title" class="product-input">
            <button type="submit" class="button">Modify</button>
            <button type="button" class="delete-button" onclick="deleteGenre('<%= genre._id %>')">Delete</button>
        </form>
                </div>
              
              
            </li>
          <% }); %>
          
        
        
        <script>
            function deleteGenre(genreId) {
                if (confirm("Are you sure you want to delete this genre?")) {
                    fetch("/genre/deleteGenre/" + genreId, {
                        method: "DELETE"
                    })
                    .then(response => {
                        // Handle response as needed
                        // For example, you could redirect after successful deletion
                        if (response.ok) {
                            window.location.reload;
                        } else {
                            // Handle error
                            console.error("Error deleting genre");
                        }
                    })
                    .catch(error => {
                        console.error("Error deleting genre:", error);
                    });
                }
            }
        </script>
        
        </ul>
      
       




</div>
 

</body>
</html>
